.login{
  margin: 10px 0 12px;
  &__link{
    color: #959595;
    text-decoration: none;
    font-size: 12px;
    font-family: 'PT Sans Caption';
    b{
      font-family: inherit;
      color: white;
    }
  }
}