.column{
  margin-bottom: 40px;
  &__header{
    font-size: 14px;
    border-top: 3px solid #151515;
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-family: 'PT Sans Caption';
    font-weight: 700;
    padding: 11px 0;
    letter-spacing: .1em;
    line-height: 1;
    display: block;
    text-decoration: none;
    color: black;
  }
  &__item{
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  &__link{
    display: block;
    text-align: right;
    font-family: 'PT Sans';
    font-size: 12px;
    color: #151515;
    text-decoration: none;
    margin-top: 20px;
    transition: color .2s ease;
    &:hover{
      color: #cc3333;
    }
  }
}